@font-face {
  font-family: "TT Hoves";
  src: url("../../fonts/TTHoves-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../../fonts/TTHoves-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
	font-family: "TT Hoves";
	src: url("../../fonts/TTHoves-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
  }
  
