$Gray1: #333333;

$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin font-normal {
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: normal;
}
